body {
	background-image: url('../img/burgback.jpg')
}

img{
	display: block;
	margin: auto;
}

h1{
	text-align: center;
	font-family: 'Baloo', cursive;
	color: #8F3914;
	font-weight: bold;
	font-size: 50px;
}

.noDev{
	
	display: block;
	margin-right: 100px;
	background-color: #FFF;
	height: 50px;
	width: 200px ;
	padding: 10px;
	border-color: black;
	border-style: solid;
}

.dev{
	
	display: block;
	margin: 10px;
	overflow: auto;
	background-color: #FFF;
	height: 50px;
	width: 200px;
	padding: 10px;
	border-color: black;
	border-style: solid; 
}

.eaten{
	position: relative;
	margin-left: 60%;
}

.not{
	position: absolute;
    margin-top: 0%;
    margin-left: 15%;
}